/* Configuración General */
* {
    font-family: "Iosevka Nerd Font", "Iosevka Nerd Font Mono";
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

/* La barra principal ahora es invisible para que floten los módulos */
window#waybar {
    background: transparent;
}


#custom-cachy-update.pending {
    /* color: #00cc99; El verde característico de CachyOS */
    color: #FA3102; 
    font-weight: bold;
}

/* Configuración General */

#workspaces,
#custom-date,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-cachy-update,
#custom-weather,
#tray,
#custom-notifications {
    background: #16161a; /* Gris carbón sólido */
    color: #e0e0e6;
    padding: 4px 16px;
    border-radius: 8px; /* Bordes angulares, look industrial */
    margin: 4px 2px;
    border: 1px solid #242429;
}

/* --- WORKSPACES --- */
#workspaces button {
    color: #52525b;
    padding: 0 10px;
    border-radius: 4px;
}

#workspaces button.active {
    color: #16161a;         /* Texto oscuro para que contraste con el fondo claro */
    background: #ffffff;    /* <-- ACÁ VA TU COLOR SELECCIONADO (Ej: Verde Oliva) */
    font-weight: bold;
}

/* --- RELOJ (Centro) --- */
#custom-date {
    color: #ffffff;         /* <-- ACÁ VA TU COLOR SELECCIONADO */
    font-weight: 700;
}

/* --- HOVER UNIFICADO --- */
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#custom-weather:hover,
#custom-cachy-update:hover,
#custom-notifications:hover {
    background: #ffffff;    /* <-- ACÁ VA TU COLOR SELECCIONADO */
    color: #16161a;
    transition: all 0.15s ease;
}