* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
    background: rgba(20, 20, 20, 0.95);
}

#workspaces button {
    padding: 0 8px;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio {
    padding: 0 10px;
}